<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.css">

    <!-- Font Awesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
	<!-- Bootstrap core CSS -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
	<!-- Material Design Bootstrap -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.7/css/mdb.min.css" rel="stylesheet">


	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>

    <!-- JQuery -->
	
	<!-- Bootstrap tooltips -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<!-- MDB core JavaScript -->
	<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.7/js/mdb.min.js"></script> -->
</head>
<div class="collapse" id="HistoryToggleContent">
    <div class="bg-dark p-4">
      <h4 class="text-white">Collapsed History</h4>
      <span class="text-muted">Toggleable via the navbar brand.</span>
      <div class="container-fluid">
		  <div class="row">
		    <div class="col-md-2 bg-info">
		      	4
		    </div>
		    <div class="col-md-6 bg-secondary">
		     	5
		    </div>
		    <div class="col-md-4 bg-info">
		      	6
		    </div>
		  </div>
		</div>
    </div>
  </div>
 <div class="collapse" id="StatisticsToggleContent">
    <div class="bg-dark p-4">
      <h4 class="text-white">Collapsed Statistics</h4>
      <span class="text-muted">Toggleable via the navbar brand.</span>
      <div class="container-fluid">
		  <div class="row">
		    <div class="col-md-2 bg-info">
		      	4
		    </div>
		    <div class="col-md-2 bg-secondary">
		     	5
		    </div>
		    <div class="col-md-2 bg-info">
		      	6
		    </div>
		    <div class="col-md-2 bg-info">
		      	7
		    </div>
		    <div class="col-md-2 bg-secondary">
		     	8
		    </div>
		    <div class="col-md-2 bg-info">
		      	9
		    </div>
		  </div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 bg-info">
		      		4
		    	</div>
		    	<div class="col-md-6 bg-secondary">
		      		4
		    	</div>
			</div>
		</div>
    </div>
  </div>
<body id="vue_body_app" class="bg-dark animated fadeIn">
    <div id="pages-controls">
        <div id="sports" v-if="sports">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">Opensport</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <button class="btn btn-sm btn-outline-light" >Getting started</button>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                                <a class="dropdown-item">About Project</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">FAQ</a>
                            </div>
                        </li>

                    </ul>
	                    <!-- <form class="form-inline my-2 my-lg-0">
	                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
	                        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
	                    </form>&nbsp; -->
                    <button class="btn btn-sm purple-gradient my-2 my-sm-0" type="button" data-toggle="collapse" data-target="#HistoryToggleContent" aria-controls="HistoryToggleContent" aria-expanded="false" aria-label="Toggle navigation">History</button>&nbsp;
                    <button class="btn btn-sm purple-gradient my-2 my-sm-0" type="button" data-toggle="collapse" data-target="#StatisticsToggleContent" aria-controls="StatisticsToggleContent" aria-expanded="false" aria-label="Toggle navigation">Statistics</button>
                    <button class="btn btn-sm purple-gradient my-2 my-sm-0" type="button" data-toggle="collapse" data-target="#CollapseChatContent" aria-controls="CollapseChatContent" aria-expanded="false" aria-label="Toggle navigation">Community</button>


                </div>
            </nav>
            <div>
                {% block body %}
                <div id="vue_sellected_collapse" class="container-fluid">
                	<div class="row">
                    	<div class="col-md-4 bg-dark animated fadeIn">
	                        <div id="selected_id">
	                            <div class="bg-dark">
	                                <h5 class="text-white h4 animated flash" v-model="selected_title">[[ selected_title ]]</h5>
	                                <span class="text-muted" v-model="selected_body">[[ selected_body ]]</span>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="col-md-4 bg-dark animated fadeIn">
	                		<div>
	                            <div class="bg-dark">
	                                <h5 class="text-white h4 animated flash" v-model="selected_title">Current events 30</h5>
	                                <span class="text-muted" v-model="selected_body" v-if="selected_count">Betting sites [[ selected_count ]]</span>
	                            </div>
	                        </div>
	                	</div>
	                    <div class="col-md-4 ml-auto bg-dark animated fadeIn">
	                		<div>
	                            <div class="bg-dark">
	                                <h5 class="text-white h4 animated flash" v-model="selected_title">Profit amount 4000$</h5>
	                                <span class="text-muted" v-model="selected_body">User odds amount 150$</span>
	                            </div>
	                        </div>
	                	</div>
	                </div>

                </div>


                <div class="container-fluid" style="border-top: 2px solid gray;">
                	<br>
				  <div class="row">
				  	<br>
				    <div id="vue_test_app" class="col-md-2 animated fadeIn" style="background-color: #424242; border-radius: 5px;">
				      <div v-for="line in context">
				      	<span v-model="context">
				      		<span>
				      			<br>
				      			<!-- <span class="btn-sm btn-block text-light" style="background-color: #585858; cursor: pointer;"  data-toggle="collapse" data-target="#CategorysToggleCollapseContent" aria-controls="CategorysToggleCollapseContent" aria-expanded="false" aria-label="Toggle navigation">
				      				<small><center>[[ line.title ]] [[ line.group ]]</center></small>
				      			</span><br> -->
				      			<span id="CategorysToggleCollapseContent" style="cursor: pointer;border-radius: 5px;" v-on:click="send_selected(line)" class="btn btn-sm btn-elegant btn-block">
				      				<small> [[ line.details ]]</small><small>[[ line.count ]]</small>
				      			</span>
				      			
				      		</span>
				      		
				      	</span>
				      </div>
				    </div>
				    <div class="col-md-8 text-light animated fadeIn" id="vue_central_block">
					    <div class="container-fluid" style="background-color: #424242; border-radius: 5px; border-bottom: 2px solid gray;"><br>
					    	<div id="CollapseChatContent" class="collapse">
						    	<span class="btn-sm btn-block text-light" style="background-color: #585858;">
					      		<small><center>Community header</center></small>
						      	</span>
						      	<span class="animated fadeIn">
							      	chat
							    </span><br><br>
					      	</div>

			      		<span class="btn-sm btn-block text-light" style="background-color: #585858;" v-model="raw_data">
				      		<small><center>Header</center></small>
				      	</span><br>
					      <span v-if="raw_data"  class="animated fadeIn">
					      	<table class="table table-striped table-bordered table-dark table-hover table-sm">
					      		<thead>
					      		<tr>
							      <th scope="col" colspan="4	"><center>H2H</center></th>
							    </tr>
							    <tr>
							      <th scope="col" colspan="1" v-for="team in raw_data.teams"><center>[[ team ]]</center></th>
							    </tr>
							  </thead>
							  <thead>
							    <tr>
							    <th scope="col"  colspan="0"><center>W1</center></th>
							      <th scope="col"  colspan="1"><center>W2</center></th>
							      <th scope="col"  colspan="1"><center>Provider</center></th>
							      <th scope="col"  colspan="1"><center>More</center></th>
							    </tr>
							  </thead>
							  <tbody v-for="data in raw_data.sites">
							    <tr>
							    	<td colspan="0" v-for="h2h in data.odds.h2h"><center>
							    		<button class="btn btn-sm btn-elegant btn-block">[[ h2h ]]</button>
							    	</center></td>
							      <td colspan="1"><center>[[ data.site_key ]]</center></td>
							      <td colspan="1"><center><button class="btn btn-sm btn btn-dark btn-block">More</button></center></td>
							    </tr>
							  </tbody>
							</table>
					      </span>
					    </div>
				    </div>
				    <div class="col-md-2" style="background-color: #424242; border-radius: 5px; "><br>
				    	<div class="btn-sm btn-block text-light" style="border-radius: 5px; background-color: #585858;">
					      <small><center>Options</center></small>
					    </div>


				      	<div class="btn-sm btn-block btn-elegant" style="border-radius: 5px;  cursor: pointer; ">
					      <small><center>Ordinar</center></small>
					    </div>
					    <div class="btn-sm btn-block btn-elegant" style="border-radius: 5px;  cursor: pointer; ">
					      <small><center>Express</center></small>
					    </div>
	
				    </div>
				    
				    <div class="col-md-1 bg-info">
				      	4
				    </div>
				    <div class="col-md-1 bg-info">
				      	5
				    </div>
				    <div class="col-md-8 bg-secondary">
				    	6
				    </div>
				    <div class="col-md-1 bg-info">
				      	7
				    </div>
				    <div class="col-md-1 bg-info">
				      	8
				    </div>
				  </div>
				  </div>
				</div>
                <div>
                </div>
                
            </div>
            <div class="container-fluid bg-light">
            	<div class="row">
            		<div class="col-md-2 bg-secondary">
				      	<div class="container-fluid bg-secondary">
					      footer1
					    </div>
				    </div>
				    <div class="col-md-8 bg-dark">
				     	<div class="container-fluid bg-dark">
					      	<br><center>
					      	<button class="btn btn-sm btn-dark">Getting started</button>
					      	<button class="btn btn-sm btn-dark">FAQ</button>
					     	<button class="btn btn-sm btn-dark">For Developers</button>
					     	</center>
					     	<br>
					    </div>
				    </div>
				    <div class="col-md-2 bg-secondary">
				      	<div class="container-fluid bg-secondary">
					      footer3
					    </div>
				    </div>
            	</div>
            	
            </div>
            {% endblock %}
            {% block js %}
            <script type="text/javascript">
                var vue_body_app = new Vue({
                    el: '#vue_body_app',
                    delimiters: ["[[", "]]"],
                    data: {
                        pages: {
                            sports: false,
                            upcoming_odds: false,
                        },
                    }
                })
            </script>

            <script type="text/javascript">
                var vue_test_app = new Vue({
                    el: "#vue_test_app",
                    delimiters: ["[[", "]]"],
                    data: {
                        context: null,
                        sorted_groups: [],
                        upcomming_odds: null,
                    },
                    mounted() {
                        this.get_updates();
                    },

                    methods: {
                        get_updates: async function() {
                            console.log("GET SPORTS");
							console.log("{{ get_updates_url }}/sports/")
                            await axios
                                .get('{{ get_updates_url }}/sports/')
                                .then(response => (this.context = response.data[0]['sports']));
                            await this.sort_groups(this.context);
                            await this.get_upcomming();
                            // console.log(this.context);
                        },
                        get_upcomming: async function() {
                        	await axios
								.get('{{ get_updates_url }}/upcoming_odds/')
                        		.then(response => (this.upcomming_odds = response.data[0]['upcoming_odds']));
                        	// console.log(this.upcomming_odds);

                        },
                        send_selected: async function(param) {
                        	console.log("SELECTED:", param);
                        	await vue_sellected_collapse.update(param['key'], param['title'], param['details']);

                        },
                        sort_groups: async function(raw_groups) {
                        	console.log(raw_groups)
                        },
                        mapped: async function(value) {
                        	console.log(value);
                        }

                        
                        // document.getElementById("demo").innerHTML = points;
                    }
                })
            </script>

            <script type="text/javascript">
            	var vue_central_block = new Vue({
            		el: "#vue_central_block",
            		delimiters: ["[[", "]]"],
            		data: {
            			raw_data: null,
            		},
            	})
            </script>

            <script type="text/javascript">
                var vue_sellected_collapse = new Vue({
                		el: '#vue_sellected_collapse',
                		delimiters: ["[[", "]]"],
                		data: {
                			selected_id: null,
                			selected_title: "Welcome to opensport!",
                			selected_body: null,
                			raw_current_odds: null,
                			current: null,
                			selected_count: null,
                		},
                		methods: {
                			update: async function(id, title, body) {
                				this.selected_id = id;
                				this.selected_body = body;
                				this.selected_title = title;
                				selected_count = 0

                				for (key in vue_test_app.context) {
                					if (this.selected_id === vue_test_app.context[key]['key']) {
                						this.current = this.selected_id;
                						for (key in vue_test_app.upcomming_odds) {
                							if (this.current === vue_test_app.upcomming_odds[key]['sport_key']) {
                								// console.log(vue_test_app.upcomming_odds[key]);
                								vue_central_block.raw_data = vue_test_app.upcomming_odds[key];
                								selected_count += 1
                								this.selected_count = selected_count
                							}
                						}
                					}
                				}
                				await this.update_context_count()
                			},
                			update_context_count: async function() {
                				for (i in vue_test_app.context) {
                					if (this.current === vue_test_app.context[i]['key']) {
                						vue_test_app.context[i].count = selected_count
                						console.log(vue_test_app.context[i])
                					}
                				}
                			}
                		}
                	})
            </script>

            {% endblock %}
        </div>
    </div>
</body>

</html>