{% extends 'base.html' %}
{% block body %}
 <div id="vue_test_app">
    <span v-model="context">
       <table class="table table-sm table-dark">
          <thead>
             <tr>
                <th scope="col">
                   <center><small>ARRB</small></center>
                </th>
                <th scope="col">
                   <center><small>Group</small></center>
                </th>
                <th scope="col">
                   <center><small>Details</small></center>
                </th>
             </tr>
          </thead>
          <tbody>
             <span >
                <!-- <tr v-for="line in context">
                   <th scope="row">
                      <center><small>[[ line.title ]]</small></center>
                   </th>
                   <td>
                      <center><small>[[ line.group ]]</small></center>
                   </td>
                   <td>
                      <center><small>[[ line.details ]]</small></center>
                   </td>
                </tr> -->
             </span>
          </tbody>
       </table>
    </span>
 </div>
{% endblock %}
{% block js %}

<script type="text/javascript">
         var vue_test_app = new Vue({
         	el: "#vue_test_app",
         	delimiters: ["[[","]]"],
         	data: {
         		context: null,
         	},
         	mounted() {
         		this.get_updates();
         	},
         
         	methods: {
         		get_updates: async function() {
         			console.log("GET ODDS");
         			await axios
         				.get('http://0.0.0.0:8080/api/v1/get_updates/upcoming_odds')
         				.then(response => (this.context = response.data[0]['upcoming_odds']));
         			console.log(this.context);
         		}
         	}
         })
      </script>
{% endblock %}